<div class="barNav"> 
    <a href="{{ site.url }}">Gimmie<span id="mmo">Make Money Online</span></a>
    
    <a href="{{ site.url }}/Side%20Income/">Side Income</a>
    <a href="{{ site.url }}/Work%20From%20Home/">Work From Home</a>
    <a href="{{ site.url }}/Investing">Investing</a>

</div>

<div class="cover" onclick="toggleNav();"></div>


<div class="hamburger" id="hamburger" onclick="toggleNav();">

    <div></div>
     <div></div>
    <div></div> 
    <h3>Gimmie</h3>

</div>    

    
<nav>
  <div class="logo">
    <h2>Gimmie</h2>
  </div>
  <div class="links">
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/Side%20Income/">Side Income</a>
    <a href="{{ site.url }}/Work%20From%20Home/">Work From Home</a>
    <a href="{{ site.url }}/Investing">Investing</a>

  </div>
  <footer>
    <p></p>
  </footer>
</nav>